@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital@0;1&family=Fuzzy+Bubbles:wght@700&display=swap");
body {
  font-family: "Amaranth", sans-serif;
  margin: 0;
  padding: 0;
}
::placeholder {
  color: #757575;
}
.header {
  margin-bottom: 20px;
  margin-right: 50px;
}
.header-list {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}
ul a {
  text-decoration: none;
}
.header-list li {
  font-family: "Amaranth", sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  color: #9b9b9b;
  font-size: 13px;
}
.header-line {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}
.bottom-header {
  border-bottom: 0.5px solid rgb(230, 230, 230);
  width: 450px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
  /* margin-right: 15px; */
}
.footer {
  margin-bottom: 50px;
  margin-right: 50px;
}
.footer-list {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}
.footer-list li {
  font-family: "Amaranth", sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  color: #000000;
  font-size: 13px;
}
.footer-last {
  text-align: center;
  color: #9b9b9b;
  margin-top: 10px;
  font-size: 13px;
}
a {
  text-decoration: none;
}

.main-site {
  display: flex;
  margin-left: 400px;
  margin-right: 400px;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.blog-main {
  /* display: flex; */
  margin-left: 400px;
  margin-right: 400px;
  /* justify-content: center; */
}
.blog-bg {
  background-color: #f7f6f4;
}
.site-title {
  font-weight: 100;
  color: #333333;
  font-family: "Amaranth", sans-serif;
  letter-spacing: 0.2em;
}
.site-title:hover {
  color: #9b9b9b;
  transition: all 0.4s;
}
.blog-title {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}
.blog-sub {
  color: #333333;
  text-align: center;
  padding-top: 50px;

  font-weight: 100;
  letter-spacing: 0.1em;
}
.bottom-line {
  border-bottom: 2px solid black;
  width: 20px;
}
.search-input {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}
.input {
  font-size: 24px;
  padding: 8px 240px 8px 10px;
  text-align: left;
  background-color: #f7f6f4;
  border: 1px solid #9b9b9b;
  border-left: none;
  border-right: none;
  font-family: "Amaranth", sans-serif;
  outline: none;
}
.search-btn {
  background-color: #f7f6f4;
  border: none;
  position: absolute;
  left: 66%;

  margin-top: 12px;
  cursor: pointer;
}
.btn-icon {
  color: #9b9b9b;
  border-left: none;
  border-right: none;

  font-size: 22px;
}
.card-img {
  width: 240px;
}

/* main blog responsive */
@media screen and (min-width: 1400px) {
  .search-btn {
    background-color: #f7f6f4;
    border: none;
    position: absolute;
    left: 60%;

    margin-top: 12px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1035px) {
  .main-site {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .blog-main {
    margin-left: 0px;
    margin-right: 0px;
  }
  .search-btn {
    background-color: #f7f6f4;
    border: none;
    position: absolute;
    left: 70%;

    margin-top: 12px;
    cursor: pointer;
  }
}
@media screen and (max-width: 850px) {
  .search-btn {
    background-color: #f7f6f4;
    border: none;
    position: absolute;
    left: 75%;
    margin-top: 12px;
    cursor: pointer;
  }
}
@media screen and (max-width: 640px) {
  .search-btn {
    background-color: #f7f6f4;
    border: none;
    position: absolute;
    left: 80%;
    margin-top: 12px;
    cursor: pointer;
  }
}
@media screen and (max-width: 550px) {
  .search-btn {
    background-color: #f7f6f4;
    border: none;
    position: absolute;
    left: 80%;
    margin-top: 12px;
    cursor: pointer;
  }
  .input {
    font-size: 24px;
    padding: 8px 150px 8px 10px;
    text-align: left;
    background-color: #f7f6f4;
    border: 1px solid #9b9b9b;
    border-left: none;
    border-right: none;
    font-family: "Amaranth", sans-serif;
    outline: none;
  }
}
@media screen and (max-width: 430px) {
  .search-btn {
    background-color: #f7f6f4;
    border: none;
    position: absolute;
    left: 80%;
    margin-top: 12px;
    cursor: pointer;
  }
  .input {
    font-size: 24px;
    padding: 8px 100px 8px 10px;
    text-align: left;
    background-color: #f7f6f4;
    border: 1px solid #9b9b9b;
    border-left: none;
    border-right: none;
    font-family: "Amaranth", sans-serif;
    outline: none;
  }
}
@media screen and (max-width: 380px) {
  .search-btn {
    background-color: #f7f6f4;
    border: none;
    position: absolute;
    left: 80%;
    margin-top: 12px;
    cursor: pointer;
  }
  .input {
    font-size: 24px;
    padding: 8px 50px 8px 10px;
    text-align: left;
    background-color: #f7f6f4;
    border: 1px solid #9b9b9b;
    border-left: none;
    border-right: none;
    font-family: "Amaranth", sans-serif;
    outline: none;
  }
}
@media screen and (max-width: 320px) {
  .search-btn {
    background-color: #f7f6f4;
    border: none;
    position: absolute;
    left: 80%;
    margin-top: 12px;
    cursor: pointer;
  }
  .input {
    font-size: 24px;
    padding: 8px 10px 8px 10px;
    text-align: left;
    background-color: #f7f6f4;
    border: 1px solid #9b9b9b;
    border-left: none;
    border-right: none;
    font-family: "Amaranth", sans-serif;
    outline: none;
  }
}
/* ========================================================================== */
/* Blog cards start */
.main-card {
  display: flex;
  margin-left: 400px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 400px;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.card {
  border: 1px solid #eeeeee;
  width: 240px;
  margin: 8px 8px;
  /* height: 500px; */
}
.card:hover {
  cursor: pointer;
  background-color: #ebebeb;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blog-time {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 11px;
  color: #8d8d8d;
  text-align: center;
}
.blog-name {
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
}
.card-link {
  color: black;
  text-decoration: none;
}

/* Blog card responsive */
@media screen and (min-width: 1770px) {
  .main-card {
    display: flex;
    margin-left: 600px !important;
    flex-wrap: wrap;
    margin-right: 600px !important;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1574px) {
  .main-card {
    display: flex;
    margin-left: 500px;
    flex-wrap: wrap;
    margin-right: 500px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1320px) {
  .main-card {
    display: flex;
    margin-left: 300px;
    flex-wrap: wrap;
    margin-right: 300px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1115px) {
  .main-card {
    display: flex;
    margin-left: 180px;
    flex-wrap: wrap;
    margin-right: 180px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 875px) {
  .main-card {
    display: flex;
    margin-left: 120px;
    flex-wrap: wrap;
    margin-right: 120px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 756px) {
  .main-card {
    display: flex;
    margin-left: 80px;
    flex-wrap: wrap;
    margin-right: 80px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 681px) {
  .main-card {
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-right: 30px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 575px) {
  .main-card {
    display: flex;
    margin-left: 0px;
    flex-wrap: wrap;
    margin-right: 0px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .card {
    border: 1px solid #eeeeee;
    width: 300px;
    margin: 8px 8px;
    /* height: 500px; */
  }
  .card-img {
    width: 300px !important;
  }
}
